body {
  margin: 0;
  background-color: #121212;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-container {
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1c1c1c;
  border-right: 1px solid #2c2c2c;
}

.custom-navbar {
  background-color: #1c1c1c;
  border-bottom: 1px solid #2c2c2c;
}

.main-content {
  background-color: #121212;
}

.text-orange {
  color: #ff6b00;
}

.nav-link {
  transition: 0.2s;
}

.nav-link:hover {
  color: #ff6b00 !important;
}

.card {
  border-radius: 16px;
}

.text-orange {
  color: #ff6b00;
}
